In [18]:
import numpy as np
import pandas as pd

Основа [**numpy**](https://docs.scipy.org/doc/numpy-1.15.1/reference/) это вектора (**array**) и матрицы (**matrix**).<br>
Создадим вектор и попробуем возможности библиотеки.
<div style="background:green"></div>

In [21]:
ages = pd.Series(range(20), name="Age")
print(ages)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: Age, dtype: int64

In [20]:
df = pd.DataFrame(
    {
        "Age": [34, 55, 71]
    }
)
print(df)

   Age
0   34
1   55
2   71